.App{
    margin : 0;
}

.bkg {
    width: 100vw;
    height: 100vh;
    
}

.searchBar{
    width: 70vw;
    height: 80vh;
    margin: 10vh 15vw;
    position: fixed;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(191, 241, 237, 0.8);
    background-color: aquamarine;
    background-image: url('./assets/bkg.jpg');
    background-size: cover;
}

.citiesContainer{
    padding: 20px;
    position: absolute;
    display: flex;
    bottom: 0px;
    left: 5%;
    right: 5%;
    align-content: center;
    background-color: black;    
}

.App{
    background-image: url('./assets/bkg.jpg');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    filter: blur(6px)
      
    
    
}